* text=auto

*.css eol=lf
*.hbs eol=lf
*.html eol=lf
*.ini eol=lf
*.js eol=lf
*.json eol=lf
*.jsx eol=lf
*.mako eol=lf
*.md eol=lf
*.py eol=lf
*.scss eol=lf
*.sql eol=lf
*.txt eol=lf
*.vue eol=lf
*.yml eol=lf