{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
{% block metas %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ super() }}
{% endblock %}
{% block styles %}
    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 topbar">
                {% include "topbar.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-2 col-lg-2 sidebar">
               {% include "sidebar.html" %}
            </div>
            <div class="col-sm-9 col-md-10 col-lg-10">
                <div class="viewbox"></div>
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% block scripts %}
        {{ super() }}
    {% endblock %}
{% endblock %}
